# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*

# --- Django ---
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
# --- VSCode ---
.vscode/
# --- OS ---
.DS_Store
Thumbs.db

# --- Docker ---
/data/
/tmp/
/*.pid

# --- Virtualenv ---
venv/
env/
.venv/

# --- IDE ---
.idea/

# --- Excel ---
.xlsx#
.xlsx
/service_sheets_export/
# React build output
frontend/dist/

# Copied static assets
# static/frontend/assets/
