{% extends 'dashboard/base/base.html' %}
{% block css %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'dashboard/css/temp.css' %}" />
{% endblock %}
{% block body %}
  <h2>{{ title }}</h2>
  <div class="detail-card">
    <div id="bread" data-items="{{ breadcrumbs }}"></div>
    <form method="post" id="publicAssistanceForm" novalidate>
      {% csrf_token %}
      <div>
        {% comment %}要介護状態区分{% endcomment %}
        <div class="label-input-err">
          <div class="label-input">{{ form.care_level.label_tag }}
            {{ form.care_level }}</div>
          <div class="post-err">
            {% for error in form.care_level.errors %}
              {{ error }}
            {% endfor %}
          </div>
        </div>
                
        {% comment %} 要介護状態区分 {% endcomment %}
        <div class="label-input-err">
          <div class="label-input">
            {{ form.benefit_rate.label_tag }}
            {{ form.benefit_rate }}
          </div>
          <div class="post-err">
            {% for error in form.benefit_rate.errors %}
              {{ error }}
            {% endfor %}
          </div>
        </div>

        <p>
          {% comment %}生活保護受給{% endcomment %}
          {{ form.public_assistance_flag.label_tag }}
          {{ form.public_assistance_flag }}
        </p>

        <p>
          {% comment %}給付制限{% endcomment %}
          {{ form.benefit_limit_flag.label_tag }}
          {{ form.benefit_limit_flag }}
        </p>

        {% comment %}区分支給限度基準額区分{% endcomment %}
        <div class="label-input-err">
          <div class="label-input">
            {{ form.limit_amount_type.label_tag }}
            {{ form.limit_amount_type }}
          </div>
          <div class="post-err">
            {% for error in form.limit_amount_type.errors %}
              {{ error }}
            {% endfor %}
          </div>
        </div>

        {% comment %}任意限度額{% endcomment %}
        <p class="none" id="limit-amount-value">
          {{ form.limit_amount_value.label_tag }}
          {{ form.limit_amount_value }}
          <ul class="error-msg">
            <li class="none" id="itan">現在、任意限度額に対応してない</li>
            {% for error in form.limit_amount_value.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </p>
        <p>
          <label id="required">認定有効期間:</label>
          {{ form.limit_start }}
          〜
          {{ form.limit_end }}
        </p>
        <div id="act-row" class="act-row">
          <ul class="error-msg">
            {% for error in form.limit_start.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
          <div id="required-buttons">
            <button class="btn" type="button" onclick="addYears(1)">1年後</button>
            <button class="btn" type="button" onclick="addYears(3)">3年後</button>
            <button class="btn" type="button" onclick="addYears(4)">4年後</button>
          </div>
        </div>
      </div>
      <button class="btn btn-primary" onclick="this.disabled=true; this.form.submit();" type="submit">保存</button>
    </form>
  </div>
  <script>
  document.addEventListener('DOMContentLoaded',() =>{
      const amountTypeSlect = document.getElementById('id_limit_amount_type');
      const amountContainer = document.getElementById('limit-amount-value');
      const itan = document.getElementById('itan');
      const toggleAmountDisplay = () => {
          console.log(`${amountTypeSlect.value}`)
          if (amountTypeSlect.value == '任意'){
              amountContainer.classList.remove('none');
              itan.classList.remove('none');
          } else {
              amountContainer.classList.add('none');
              itan.classList.add('none');
          }
      }
      toggleAmountDisplay();
      amountTypeSlect.addEventListener('change', toggleAmountDisplay);
  })
  function addYears(years) {
      const startInput = document.getElementById("id_limit_start");
      const endInput = document.getElementById("id_limit_end");

      const startDate = new Date(startInput.value);
      if (isNaN(startDate)) {
          alert("開始日を入力してください");
          return;
      }

      const endDate = new Date(startDate);
      endDate.setFullYear(endDate.getFullYear() + years);

      endDate.setDate(endDate.getDate() - 1); // 1日前に設定
      const yyyy = endDate.getFullYear();
      const mm = String(endDate.getMonth() + 1).padStart(2, '0');
      const dd = String(endDate.getDate()).padStart(2, '0');

      endInput.value = `${yyyy}-${mm}-${dd}`;
  }

  </script>
{% endblock %}
