{% extends 'dashboard/base/base.html' %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'temp.css' %}">
{% endblock %}
{% block body %}
<!---- home>>Planがないユーザー ---->
<h2>{{ user.name }} さんのサービス提供計画作成</h2>
<div class=detail-card>
<form method="post" class="plan-form">
  {% csrf_token %}
 
  <p>
    <label>{{ form.year.label }}</label>
    {{ form.year }}
  </p>

  <p>
    <label>{{ form.month.label }}</label>
    {{ form.month }}
    <label>{{ form.start_time.label }}</label>
    {{ form.start_time }}
  </p>

  <p>
    <label>{{ form.end_time.label }}</label>
    {{ form.end_time }}
  </p>

  <p class="weekday-row">
    <label>{{ form.weekdays.label }}</label>
    <span class="weekday-inputs">{{ form.weekdays }}</span>
  </p>
  <button type="submit">保存</button>
</form>
</div>
{% endblock %}
