{% extends "dashboard/base/base.html" %}
{% block css %}
{% load static %}
{% load get_item %}
<link rel="stylesheet" href="{% static 'dashboard/css/temp.css' %}">
<style>
  .cm-value{
    text-align: center;
    padding-left: 20px;
    color: #313131;
    font-weight: bold;
  }
</style>
{% endblock %}
{% block body %}
<h2>新規作成</h2> 
<div class="detail-card">
<div id="bread" data-items="{{breadcrumbs}}"></div>
  <form method="post" id="cmForm" novalidate>
    {% csrf_token %}
    <p>
      <label>担当ケアマネジャー</label>
      <span class="cm-value">{{ cm_name }}</span>
    </p>

    {% comment %} 名前 {% endcomment %}
    <div class="label-input-err">
      <div class="label-input">
        {{ form.name.label_tag }}
        {{ form.name }}
      </div>
      <div class="post-err">
        {% for error in form.name.errors %}
          {{ error }}
        {% endfor %}
      </div>
    </div>

    {% comment %} かな {% endcomment %}
    <div class="label-input-err">
      <div class="label-input">
        {{ form.name_kana.label_tag }}
        {{ form.name_kana }}
      </div>
      <div class="post-err">
        {% for error in form.name_kana.errors %}
          {{ error }}
        {% endfor %}
      </div>
    </div>

    <hr class="my-2">


    {% comment %} 被保険者番号 {% endcomment %}
    <div class="label-input-err">
      <div class="label-input">
        {{ form.insured_number.label_tag }}
        {{ form.insured_number }}
      </div>
      <div class="post-err">
          {% for error in form.insured_number.errors %}
              {{ error }}
          {% endfor %}
      </div>
    </div>

    {% comment %} 生年月日 {% endcomment %}
    <div class="label-input-err">
      <div class="label-input">
        {{ form.date_of_birth.label_tag }}
        {{ form.date_of_birth }}
      </div>
      <div class="post-err">
          {% for error in form.date_of_birth.errors %}
              {{ error }}
          {% endfor %}
      </div>
    </div>

    {% comment %} 性別 {% endcomment %}
    <div class="label-input-err">
      <div class="label-input">
        {{ form.gender.label_tag }}
        {{ form.gender }}
      </div>
      <div class="post-err">
          {% for error in form.gender.errors %}
              {{ error }}
          {% endfor %}
      </div>
    </div>

    {% comment %} メモ {% endcomment %}
    <div class="label-input-err">
      <div class="label-input">
        {{ form.notes.label_tag }}
        {{ form.notes }}
      </div>
      <div class="post-err">
          {% for error in form.notes.errors %}
              {{ error }}
          {% endfor %}
      </div>
    </div>

    <button class="btn btn-primary" type="submit" onclick="this.disabled=true; this.form.submit();">保存</button>
  </form>
</div>
{% endblock %}

