{% extends 'dashboard/base/base.html' %}
{% block css %}
  {% load static %}
  {% load get_item %}
  <link rel="stylesheet" href="{% static 'dashboard/css/temp.css' %}" />
{% endblock %}
{% block body %}
{% include "dashboard/components/messages.html" %}
  <h2>{{ title }}</h2>
  <div class="detail-card">
    <div id="bread" data-items="{{ breadcrumbs }}"></div>
    <form method="post" id="public_assistance_Form"  novalidate>
      {% csrf_token %}
      {# 保護番号 #}
      <div class="label-input-err">
        <div class="label-input">
          {# ← この囲いが必要 #}
          {{ form.hogo_number.label_tag }}
          {{ form.hogo_number }}
        </div>
        <div class="post-err">
          {% for error in form.hogo_number.errors %}
            {{ error }}
          {% endfor %}
        </div>
      </div>

      {# 受給者番号 #}
      <div class="label-input-err">
        <div class="label-input">{{ form.recipient_number.label_tag }}
          {{ form.recipient_number }}</div>
        <div class="post-err">
          {% for error in form.recipient_number.errors %}
            {{ error }}
          {% endfor %}
        </div>
      </div>

      <p>
        <label>適用開始年月</label>
        {# 開始年 #}
        {{ form.start_year }}
        {# 開始月 #}
        {{ form.start_month }}
      </p>

      
      <div class="d-flex gap-2 mt-4">
          <button class="btn btn-primary" type="submit" name="action" value="save" onclick="this.disabled=true; this.form.submit();">
            保存して進む
          </button>

          {% if is_from_service %}
            <button form="releaseForm" class="btn btn-outline-danger" type="submit" 
                    onclick="return confirm('設定を解除して提供表に戻りますか？')">
                生活保護を解除して戻る
            </button>
          {% endif %}
      </div>
    </form>

    {% comment %} 解除用の隠しフォーム クエリパラメータを維持 {% endcomment %}
    <form id="releaseForm" method="post" action="?{{ request.GET.urlencode }}">
        {% csrf_token %}
        <input type="hidden" name="action" value="release">
    </form>
  </div>
{% endblock %}