{% extends "dashboard/base/base.html" %}
{% block css %}
{% load static %}
{% load get_item %}
<link rel="stylesheet" href="{% static 'temp.css' %}">
{% endblock %}
{% block body %}
{% if title  %}
<h2>{{ title }}</h2>
{% else %}
<h2>新規作成</h2> 
{% endif %}
<div class="detail-card">

    {#  同じフォームでケアマネジャーのプロフィール/利用者プロフィール/認定情報  #}
    <form method="post" id="cmForm" novalidate>
        {% csrf_token %}
        {% if cetrificate %}
        <div>
            <p>{{ form.care_level.label_tag }}{{ form.care_level }}</p> 
            <ul class="error-msg">
                {% for error in form.care_level.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>

            {% if messages %}
                <ul class="messages">
                {% for message in messages %}
                    <li class="message-item {{ message.tags }}">{{ message }}</li>        
                {% endfor %}
                </ul>
            {% endif %}

            <p>
                {{ form.benefit_limit_flag.label_tag }}{{ form.benefit_limit_flag }}
                <ul class="error-msg">
                    {% for error in form.benefit_limit_flag.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </p>
            <p>
                {{ form.limit_amount_type.label_tag }}{{ form.limit_amount_type }}
                <ul class="error-msg">
                    {% for error in form.limit_amount_type.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </p>
            <p>
            <label id="my_required">認定有効期間</label>
            <input type="date" id="limit_start" name="limit_start" value="{{ form.limit_start.value|default:'' }}">
            〜
            <input type="date" id="limit_end" name="limit_end" value="{{ form.limit_end.value|default:'' }}">

            <button type="button" onclick="addYears(1)">1年後</button>
            <button type="button" onclick="addYears(3)">3年後</button>
            <button type="button" onclick="addYears(4)">4年後</button>
            <ul class="error-msg">
                {% for error in form.limit_start.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            </p>
        </div>
        {% else %}
        <div class="as_p">
            {{ form.as_p }}
        </div>
        <div>
            {% endif %}
            <button class="btn btn-primary" type="submit">保存</button>
            {% if caremanagers %}
        </div>
        <hr class="text-secondary opacity-25" />
        <br />
            <h3>ケアマネジャーを選択</h3>
        <div class="detail-card">
            <div> 既存マネジャーを選ぶ場合は選択してskipボタン</div>
            <select name="existing_manager" id="existingCM">
            <option value="" >------ 選択してください ------</option>
                {% for cm in caremanagers %}
                    <option value="{{ cm.id }}" >{{cm.select}}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary" type="button" onClick="skipCM()">skip</button>
        {% endif %}
    </form>
</div>
<script>
function skipCM() {
    const cm = document.getElementById("existingCM").value;
    if (cm === "") {
        alert("既存を使う場合は選択してください");
        return;
    }

    const form = document.getElementById("cmForm");
    const hidden = document.createElement("input");
    hidden.type = "hidden";
    hidden.name = "skip";
    hidden.value = "1";
    form.appendChild(hidden);

    form.submit();
}
function addYears(years) {
    const startInput = document.getElementById("limit_start");
    const endInput = document.getElementById("limit_end");

    const startDate = new Date(startInput.value);
    if (isNaN(startDate)) {
        alert("開始日を入力してください");
        return;
    }

    const endDate = new Date(startDate);
    endDate.setFullYear(endDate.getFullYear() + years);

    endDate.setDate(endDate.getDate() - 1); // 1日前に設定
    const yyyy = endDate.getFullYear();
    const mm = String(endDate.getMonth() + 1).padStart(2, '0');
    const dd = String(endDate.getDate()).padStart(2, '0');

    endInput.value = `${yyyy}-${mm}-${dd}`;
}

</script>
{% endblock %}

