{% extends 'dashboard/base/base.html' %}
{% block body %}
<h2>{{ user.name }} さんのサービス一覧</h2>
<form action="{% url 'dashboard:save' user.id %}" method="POST">
  <script>
    window.initialSchedule = {{ plan.schedule_json|safe }};
    window.initialActual = {{ plan.actual_json|safe }};
  </script>
  {% csrf_token %}
  <input type="hidden" name="schedule_json" id="schedule_json"">
  <input type="hidden" name="actual_json" id="actual_json">
  <div class="table-wrapper">
    <table class="schedule-table">
      <thead>
        <tr>
          <th class="col-time">提供時間</th>
          <th class="col-service">サービス内容</th>
          <th class="col-office">事業所名</th>
          <th class="col-calendar">
            <!-- 日付行 -->
            <div class="calendar-row date-row">
              <div class="label-cell">日付</div>
              {% for d in calendar %}<!-- 1〜31のループ想定 -->
              <div class="day-cell {% if d.is_sun %}sun{% elif d.is_sat %}sat {% elif d.is_holiday %}holi {% endif %}">{{ d.day }}</div>
              {% endfor %}
              <div class="total-cell">合計</div>
            </div>
            <!-- 曜日行 -->
            <div class="calendar-row weekday-row">
              <div class="label-cell">曜日</div>
              {% for d in calendar %}<!-- 1〜31のループ想定 -->
              <div class="day-cell {% if d.is_sun %}sun{% elif d.is_sat %}sat {% elif d.is_holiday %}holiday {% endif %}">{{ d.weekday_jp }}</div>
              {% endfor %}
              <div class="total-cell">回数</div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        {% if not naiyou is None %}
        <tr>
          <td class="col-time"> {{ plan.start_time }}〜<br />{{ plan.end_time }}</td>
          <td class="col-service">{{ naiyou }}</td>
          <td class="col-office">通所介護事務所<br />民の家</td>
          <td class="col-calendar">
            <div class="calendar-row data-row" data-row-type="schedule">
              <div class="label-cell">予定</div>
              {% for d in calendar %}
                <div class="day-cell editable-cell {% if d.is_sun %}sun{% elif d.is_sat %}sat {% elif d.is_holiday %}holi {% endif %}" data-day="{{ d.day }}">
                <!-- ここにサービス提供の有無を表示（例:1,×） -->
                {{ d.schedule }}
                </div>
              {% endfor %}
              <div class="total-cell">0</div>
            </div>
            <div class="calendar-row data-row" data-row-type="actual">
              <div class="label-cell">実績</div>
              {% for d in calendar %}
                <div class="day-cell editable-cell {% if d.is_sun %}sun{% elif d.is_sat %}sat {% elif d.is_holiday %}holi {% endif %}" data-day="{{ d.day }}">
                <!-- ここにサービス提供の有無を表示（例:1,△） -->
                {{ d.actual }}
                </div>
              {% endfor %}
              <div class="total-cell">0</div>
            </td>
        </tr>
        {% else %}
        <tr class="no-data">
          <td colspan="5">データが見つかりません</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  <input class="btn" type="submit" value="保存">
</form>

<table class="data-table select">
  <tr>
    <th>サービス内容</th>
    <th>コード</th>
    <th>滞在時間</th>
    <th>単位</th>
  </tr>
  {% for s in service %}
  <tr>
    <td><input type="radio" name="" id=""></td>
    <td>{{ s.service_name }}</td>
    {% comment %} <td>{{ s.service_code }}</td> {% endcomment %}
    <td>{{ s.get_stay_time_category_display }}</td>
    <td>{{ s.unit }}</td>
  </tr>
  {% endfor %}
  </dev>
  {% load static %}
  <script src="{% static 'edit.js' %}"></script>
  {% endblock %}