{% extends "dashboard/base/base.html" %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'temp.css' %}">
{% endblock %}
{% block body %}
{% if title  %}
<h2>{{ title }}</h2>
{% else %}
<h2>新規作成</h2> 
{% endif %}
<div class="detail-card">

    {#  同じフォームで認定情報/更新画面  #}
    <form method="post" id="cmForm">
        {% csrf_token %}
        {% if cetrificate %}
        <div>
            <p><label>要介護状態区分</label>{{ form.care_level }}</p> 
            <p><label>給付制限</label>{{ form.benefit_limit_flag }}</p>
            <p><label>区分支給限度基準額区分</label>{{ form.limit_amount_type }}</p>
            <p>
            <label>認定有効期間</label>
            <input type="date" id="limit_start" name="limit_start" value="{{ form.limit_start.value|default:'' }}">
            〜
            <input type="date" id="limit_end" name="limit_end" value="{{ form.limit_end.value|default:'' }}">

            <button type="button" onclick="addYears(1)">1年後</button>
            <button type="button" onclick="addYears(3)">3年後</button>
            <button type="button" onclick="addYears(4)">4年後</button>
            </p>
        </div>
        {% else %}
            {{ form.as_p }}
        {% endif %}
        <button class="btn btn-primary" type="submit">保存</button>
        {% if caremanagers %}
            <h3>ケアマネジャーを選択</h3>
            <div> 既存マネジャーを選ぶ場合は選択してskipボタン</div>
            <select name="existing_manager" id="existingCM">
            <option value="" >------ 選択してください ------</option>
                {% for cm in caremanagers %}
                    <option value="{{ cm.id }}" >{{cm.select}}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary" type="button" onClick="skipCM()">skip</button>
        {% endif %}
    </form>
</div>
<script>
function skipCM() {
    const cm = document.getElementById("existingCM").value;
    if (cm === "") {
        alert("既存を使う場合は選択してください");
        return;
    }

    const form = document.getElementById("cmForm");
    const hidden = document.createElement("input");
    hidden.type = "hidden";
    hidden.name = "skip";
    hidden.value = "1";
    form.appendChild(hidden);

    form.submit();
}
function addYears(years) {
    const startInput = document.getElementById("limit_start");
    const endInput = document.getElementById("limit_end");

    const startDate = new Date(startInput.value);
    if (isNaN(startDate)) {
        alert("開始日を入力してください");
        return;
    }

    const endDate = new Date(startDate);
    endDate.setFullYear(endDate.getFullYear() + years);

    const yyyy = endDate.getFullYear();
    const mm = String(endDate.getMonth() + 1).padStart(2, '0');
    const dd = String(endDate.getDate()).padStart(2, '0');

    endInput.value = `${yyyy}-${mm}-${dd}`;
}

</script>
{% endblock %}

