{% extends "dashboard/base/base.html" %}
{% block body %}

<div class="container">
  <h1 class="page-title">{{user.name}}</h1>
  <div class="detail-card">
    <p><label>{{ labels.name_kana }}</label>
      {{ user.name_kana }}
    </p>
    <p>
      <label>要介護状態区分</label>
      {{ user.care_level }}
    </p>
    <p>
      <label>{{ labels.insured_number }}</label>
      {{ user.insured_number }}
    </p>
    <p>
      <label>{{ labels.date_of_birth }}</label>
      {{ user.date_of_birth }}
    </p>
    <p>
      <label>{{ labels.gender }}</label>
      {{ user.get_gender_display }}
    </p>
    <p>
      <label>{{ labels.notes }}</label>
      {{ user.notes }}
    </p>
  </div>
  <a href="{% url 'dashboard:delete' user.id %}" class="btn btn-delete">利用者を消去</a>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">保存</button>
  </form>
</div>
{% endblock %}